:root {
    --bg-light: #ffffff;
    --text-dark: #000000;
    --font-main: 'Segoe UI', sans-serif;

    --h1-bg: #708965;
    --h1-text: #444444;
    --h2-text: #80b67b;
    --h2-border: var(--h1-bg);
    --h3-text: #D67160;

    --list-bg: #e8f8f0;
    --list-border: #000000;
    --strong-text: var(--h3-text);
    --code-bg: #f0f0f0;

    --def-bg: #f2fef9;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg: var(--h2-text);
    --nav-text: var(--code-bg);

    --footer-bg: var(--h1-bg); 
    --footer-text: var(--h1-text);
}


body {
  display: grid;
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer";
  grid-template-columns:1fr;
  grid-template-rows: 100px 100px 1fr;
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

p { margin: 10px 50px 20px 50px;
 }
header {
    background-color: var(--h1-bg);
    color: var(--h1-text);
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 5px;
}
body {
  color: var(--text-dark);
  background: var(--bg-light);
  min-height: 100svh;
  font-family: var(--font-main);
}
nav {
    background: var(--nav-bg);
    color: var(--nav-text);
    border-radius: 10px;
    padding: 10px 14px;
    margin: 16px 0 24px 0;
    text-align: center;
}

footer {
   color: var(--text-dark);
  background: #708965;
  font-family: var(--font-main);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav a {
  text-decoration: none;
  color: var(--h1-text);
}



h2 {
    color: var(--h2-text);
    font-size: 1.6rem;
    border-bottom: 2px solid var(--h2-border);
    padding-bottom: 5px;
    margin: 10px 50px 20px 50px;
}
h1 {
    color: var(--h1-text);
    border-radius: 10px;
    font-size: 2.2rem; 
    margin-left: 10px;
}
h3 {
    color: var(--h1-text);
    border-radius: 10px;
    font-size: 2.2rem; 
    margin-left: 10px;

}